################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TestGit/obj/Debug
/TestGit/.vs/TestGit/v16
/TestGit/TestGit.sln
/TestGit/bin/Debug
