################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TestGit/obj/Debug
/TestGit/.vs/TestGit/v16
/TestGit/TestGit.sln
/TestGit/bin/Debug
/TestGit/.vs/TestGit/v14/.suo
/TaShu.CourseManagement/.vs/TaShu.CourseManagement/v16
/TaShu.CourseManagement/TaShu.CourseManagement/obj/Debug
/TaShu.CourseManagement/TaShu.CourseManagement.sln
/TaShu.CourseManagement/TaShu.CourseManagement/bin/Debug
